repos:
  - repo: https://github.com/pycqa/flake8
    rev: "7.1.1"
    hooks:
      - id: flake8
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.18
    hooks:
      - id: pip-compile
        args: ["--python-version=3.8", "--output-file=requirements.txt", "--extra=test", "pyproject.toml"]
        files: '^(?:pyproject\.toml|requirements\.txt)$'
